<!DOCTYPE html>
<html lang="<%= req.cookies[sails.config.i18n.cookie] || sails.config.i18n.defaultLocale %>">
  <head>
    <title><%- title %></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>    
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>    

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" type="text/css" href="/themes/<%= sails.config.theme %>.css"/>

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.datepicker.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.timepicker.min.css">
    <link rel="stylesheet" href="/linker/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/linker/styles/growl.plugin.css">
    <link rel="stylesheet" href="/linker/styles/iconFont.min.css">
    <link rel="stylesheet" href="/linker/styles/loading.plugin.css">
    <link rel="stylesheet" href="/linker/styles/main.css">
    <link rel="stylesheet" href="/linker/styles/onoffswitch.plugin.css">
    <link rel="stylesheet" href="/linker/styles/parsley.plugin.css">
    <link rel="stylesheet" href="/linker/styles/typeahead.plugin.css">
    <!--STYLES END-->
  </head>



  <body>

    <!--DISPLAY CONTENT-->
    <div class="appContainer">

        <!-- Report datepicker -->
        <div class="row">
            <div class="col-sm-3">

            <div class="input-group" id="reportDatepickerContainer">
              <span class="input-group-btn">
                <button class="btn btn-warning" type="button" id="back">
                    <%= __('Back') %>
                </button>
              </span>
              <input type="text" class="form-control" id="datepicker">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" id="foward">
                    <%= __('Foward') %>
                </button>
              </span>
            </div>

            </div>

            <div class="col-sm-3">
                <button id="print" class="btn btn-primary"><%= __('Print') %></button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <%- body %>
            </div>
        </div>
    </div>
    <!--DISPLAY CONTENT END-->


    <!--LOADING GIF-->
    <div class="modal-loading"></div>
    <!--LOADING GIF END-->


    <!--PARTIALS-->
    <%- partial('./partials/templates.handlebars.ejs') %>
    <!--PARTIALS END-->


    <!--GLOBAL VARIABLES-->
    <div class="hidden">
      <input type="hidden" id="__USER_LOCALE__" value="<%= req.cookies[sails.config.i18n.cookie] || sails.config.i18n.defaultLocale %>"/>
    </div>
    <!--GLOBAL VARIABLES END -->



    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/jquery.min.js"></script>
    <script src="/linker/js/jquery-ui.min.js"></script>
    <script src="/linker/js/jquery.cookie.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>
    <script src="/linker/js/bootstrap.datepicker.js"></script>
    <script src="/linker/js/bootstrap.growl.min.js"></script>
    <script src="/linker/js/bootstrap.timepicker.min.js"></script>
    <script src="/linker/js/handlebars-v2.0.0.js"></script>
    <script src="/linker/js/monent.js"></script>
    <script src="/linker/js/parsley.min.js"></script>
    <script src="/linker/js/readings.js"></script>
    <script src="/linker/js/typeahead.js"></script>
    <script src="/linker/js/utils.js"></script>
    <!--SCRIPTS END-->

    <!--I18N-->
    <script type="text/javascript" src="/js/parsley/i18n/<%= req.cookies[sails.config.i18n.cookie] || sails.config.i18n.defaultLocale %>.js"></script>
    <script type="text/javascript" src="/js/datepicker/i18n/<%= req.cookies[sails.config.i18n.cookie] || sails.config.i18n.defaultLocale %>.js"></script>
    <!--I18N END-->
    
    <!--CONFIGURATION-->
    <script type="text/javascript">
      moment.locale('<%= req.cookies[sails.config.i18n.cookie] || sails.config.i18n.defaultLocale %>');
    </script>
    <!--CONFIGURATION END-->
  </body>
</html>
